body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fcc;

}

h1 {
    color: rgb(213, 25, 204);
}

h2, h3 {
    color: rgb(20, 203, 114);
    background: #fff;
    font-size: 40px;
    box-shadow: 15px 15px 15px 15px rgb(0, 0, 1, 0.6), inset 15px 15px 15px 15px rgb(0, 0, 0, 0.9);
}

h3 {
    color: blueviolet;
}